<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>This Month's Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      height="75"
    >
    </canvas>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1"> text here </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
