ion-menu-button {
  color: var(--ion-color-primary);
}


#container a {
  text-decoration: none;
}

ion-row{
  ion-textarea{
     border: solid 1px;
     border-color: rgb(182, 179, 179);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
  }
}

.align-right {
  float: right;
}

ion-title {
  padding-left: 0%;
  padding-right: 0%;
}

.section-break {
  padding-left: 0%;
  padding-right: 0%;
  margin-bottom:0.5rem;
  margin-top: 3.0rem;
  font-size: 1.2rem;
}


.small-text {
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 20px;
}

ion-input {
  background-color: lightgray;
  text-align: center;
}
