<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" *ngIf="folder==='Profile'">
    <br><br>
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2"> Hey there, {{ usersName }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" offset="2">
          We use <strong>{{ usersEmail }}</strong> when we want to reach you.
          OK?
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  </ion-content>

