ion-text {
  font-size: 0.8rem;
}
.forecast {
  text-align: center;
  color: #0000c8;
}
.invoiced {
  text-align: center;
  color: #00AFFA;
}
.received {
  text-align: center;
  color: #00C864;
}
.urgent {
  text-align: center;
  color: #F53d3d;
}
.important {
  text-align: center;
  color: #3880FF;
}
.qod {
  text-align: center;
  color: #000000;
}
.quotation{
  font-size: 1.0rem;
  text-align: left;
}
.author {
  font-size: 1.0rem;
  text-align: right;
  font-style: italic;
}
ion-title {
  padding-left: 0%;
  padding-right: 0%;
}

