<ion-header>
  <form>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My Stuff</ion-title>
      <ion-buttons slot="end">
        <ion-label>Done</ion-label>
        <ion-toggle
          #showCompletedItems
          (ionChange)="onFilterUpdate(showCompletedItems, whatToShowChoice)"
          value="toggleChanged"
          unchecked
        >
        </ion-toggle>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <form tagging="ngForm">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-segment
            (ionChange)="onFilterUpdate(showCompletedItems, whatToShowChoice)"
            value="all"
            #whatToShowChoice
          >
            <ion-segment-button value="all">All </ion-segment-button>
            <ion-segment-button value="tagged">Tagged </ion-segment-button>
            <ion-segment-button value="untagged"
              >Not Tagged
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col
        size-md="6"
        offset-md="3"
        class="ion-text-center"
        *ngIf="isLoading"
      >
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="!isLoading && (!listedLoadedUtterances || listedLoadedUtterances.length <= 0)"
        class="ion-text-center"
      >
        <p>No items found.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="!isLoading && listedLoadedUtterances && listedLoadedUtterances.length > 0"
      >
        <ion-list>
          <ion-reorder-group
            disabled="false"
            (ionItemReorder)="reorder($event)"
          >
            <ng-container *ngFor="let item of displayData">
              <ion-item *ngIf="!(item[0].trim()==='')">
                <h2>{{item[0]}}</h2>
              </ion-item>
              <ion-item *ngIf="(item[0].trim()==='')">
                <h2>No Project Assigned</h2>
              </ion-item>

              <ion-item-sliding
                *ngFor="let item_sub of item[1]"
                #slidingUtterance
              >
                <ion-item>
                  <ion-icon
                    *ngIf="(item_sub?.tag.length>0) && (showDetailStatus==='tagged')"
                    slot="start"
                    icon="{{ getIconForTag(item_sub?.tag) }}"
                    color="primary"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="((showDetailStatus==='all') || (showDetailStatus==='All')) && (item_sub?.urgency || item_sub?.importance)"
                    name="ellipse"
                    [color]="item_sub?.urgency ? 'danger' : (item_sub?.importance ? 'primary' : 'secondary')"
                    slot="end"
                  ></ion-icon>
                  <ion-label
                    class="ion-text-wrap"
                    color="dark"
                    [style.text-decoration]="item_sub.complete ? 'line-through' : 'none'"
                  >
                    {{ item_sub?.utterance }}
                  </ion-label>
                  <ion-reorder slot="start"> </ion-reorder>
                </ion-item>
                <ion-item-options>

                  <ion-item-option
                    (click)="onTagUtterance(item_sub.id, item_sub.tag, item_sub.utterance, slidingUtterance)"
                  >
                    <ion-icon
                      name="pricetag-outline"
                      slot="icon-only"
                    ></ion-icon>
                  </ion-item-option>

                  <ion-item-option
                    color="secondary"
                    (click)="onMarkComplete(item_sub.id, slidingUtterance)"
                  >
                    <ion-icon
                      name="checkbox-outline"
                      slot="icon-only"
                    ></ion-icon>
                  </ion-item-option>

                  <ion-item-option
                    color="success"
                    (click)="onMoveToFinancials(item_sub.id, slidingUtterance)"
                  >
                    <ion-icon name="logo-usd" slot="icon-only"></ion-icon>
                  </ion-item-option>

                  <ion-item-option
                    (click)="editItem(item_sub.id, slidingUtterance)"
                    color="warning"
                  >
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                  </ion-item-option>

                </ion-item-options>
              </ion-item-sliding>
            </ng-container>
          </ion-reorder-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
