ion-menu-button {
  color: var(--ion-color-primary);
}


#container a {
  text-decoration: none;
}

ion-row{
  ion-textarea{
     border: solid 1px;
     border-color: rgb(182, 179, 179);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
  }
}

.align-right {
  float: right;
}

