ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

 /* Text alignment for body */
 body {
  text-align: center;
}

h1{
  color: blue
}

ion-card {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0%) translateY(100%)

}
